<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Curriculum Vitae</title>
</head>
<body>
    
    <div class="body-div">
        <div class="elements">
            <div class="section-1">
                <!-- IMAGE CARD -->
                <div class="img-card">
                    <div class="img-div">
                        <div class="img-wallpaper"></div>
                    </div>
                    <div class="img-data">
                        <div class="personal-div">
                            <p id="id-name">Iván Victoria</p>
                            <p id="my_description">
                                "Motivado por la tecnología y el desarrollo de sistemas, inicié con el fin de cumplir algunos desafíos personales como autodidacta. Al poco tiempo, descubrí una gran pasión por la programación y el desarrollo de software. Ahora, como programador independiente, busco integrarme al mundo profesional y colaborar en proyectos que me permitan aportar valor, crecer y, sobre todo, seguir adquiriendo mayores conocimientos técnicos."
                            </p>
                            <div class="descript-data-mobile">
                                <div class="descript-data-mobile-area">
                                    <div class="mini-area">
                                        <div class="mini-area-1">
                                            <div class="mini-data">
                                                <div style="display: flex; justify-content: center;">
                                                    <div class="mini-data-img">
                                                        <img src="/static/css/docs/usuario.png" alt="">
                                                    </div>
                                                    <div class="mini-data-text">
                                                        <p>Edad:</p>
                                                    </div>
                                                </div>
                                                <div class="mini-data-data">
                                                    <p>33 años</p>
                                                </div>
                                            </div>
                                            <div class="mini-data">
                                                <div style="display: flex; justify-content: center;">
                                                    <div class="mini-data-img">
                                                        <img src="/static/css/docs/telefono.png" alt="">
                                                    </div>
                                                    <div class="mini-data-text">
                                                        <p>Cel:</p>
                                                    </div>
                                                </div>
                                                <div class="mini-data-data">
                                                    <p>6442137369</p>
                                                </div>
                                            </div>
                                            <div class="mini-data">
                                                <div style="display: flex; justify-content: center;">
                                                    <div class="mini-data-img">
                                                        <img src="/static/css/docs/correo-electronico.png" alt="">
                                                    </div>
                                                    <div class="mini-data-text">
                                                        <p>Email:</p>
                                                    </div>
                                                </div>
                                                <div class="mini-data-data">
                                                    <p>navii.0892@</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mini-area-1">
                                            <div class="mini-data">
                                                <div style="display: flex; justify-content: center;">
                                                    <div class="mini-data-img">
                                                        <img src="/static/css/docs/clavo.png" alt="">
                                                    </div>
                                                    <div class="mini-data-text">
                                                        <p>Ciudad:</p>
                                                    </div>
                                                </div>
                                                <div class="mini-data-data">
                                                    <p>Cd. Obregón</p>
                                                </div>
                                            </div>
                                            <div class="mini-data">
                                                <div style="display: flex; justify-content: center;">
                                                    <div class="mini-data-img">
                                                        <img src="/static/css/docs/anillo-de-brillantes.png" alt="">
                                                    </div>
                                                    <div class="mini-data-text">
                                                        <p>Estado:</p>
                                                    </div>
                                                </div>
                                                <div class="mini-data-data">
                                                    <p>Casado</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="descript-data">
                                <div class="age">
                                    <p>Edad: </p>
                                    <span>33 años</span>
                                </div>
                                <div class="residence">
                                    <p>Celular: </p>
                                    <span>6442137369</span>
                                </div>
                                <div class="martial">
                                    <p>Email:</p>
                                    <span>navii.0892@gmail.com</span>
                                </div>
                                <div class="city">
                                    <p>Ciudad: </p>
                                    <span>Cd. Obregón, Son</span>
                                </div>
                                <div class="marital-status">
                                    <p>Edo. Civil: </p>
                                    <span>Casado</span>
                                </div>
                            </div>
                            <!-- <div class="github-div">
                                <a href="">
                                    <div class="github-img"></div>
                                </a>
                            </div> -->
                        </div>
                    </div>
                    <div class="img-buttons">
                        <div class="option-button-1">
                            <a href="/static/css/docs/resume.pdf" download="resume.pdf" class="pdf-tag">
                                <p>Descargar CV</p>
                            </a>
                        </div>
                        <div class="option-button-2">
                            <a href="https://wa.me/526442137369?text=Hola,%20vi%20tu%20página%20web" target="_blank" class="whatsapp-tag">
                                <p>Contacto</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="section-2">
                <!-- DATA CARD -->
                <div class="data-card">
                    <div class="presentation-card">
                        <div class="title-web">
                            <p style="margin-block: 15px;">Programador Python Jr.</p>
                        </div>
                        <div class="acerca-div-web">
                            <p>Formación</p>
                        </div>
                        <br>
                        <div class="main-description-div">
                            <div class="descript-2">
                                <!-- <div class="descript-data-mobile"> 
                                    <div class="age">
                                        <p>Edad: </p>
                                        <span>33 años</span>
                                    </div>
                                    <div class="residence">
                                        <p>Teléfono: </p>
                                        <span>+52 6442137369</span>
                                    </div>
                                    <div class="martial">
                                        <p>Email:</p>
                                        <span>ivanvicttoria_8@hotmail.com</span>
                                    </div>
                                    <div class="city">
                                        <p>Ciudad: </p>
                                        <span>Cd. Obregón, Son</span>
                                    </div>
                                    <div class="marital-status">
                                        <p>Edo. Civil: </p>
                                        <span>Casado</span>
                                    </div>
                                </div> -->
                                
                                <div class="acerca-div-mobile">
                                    <p>Formación</p>
                                </div>
                                <div class="academic-info-web-div">
                                    <div class="academic-img-web-div">
                                        <div class="academic-img-web"></div>
                                    </div>
                                    <p style="font-weight: bold;">Universidad</p>
                                    <p class="id-data">Ing. en Sistemas Computacionales</p>
                                    <p class="id-data">UMOV (Universidad en movimiento)</p>
                                    <p class="id-data">Cursando 7mo cuatrimestre</p>
                                    <p class="id-data">Online</p>
                                </div>
                            </div>
                            <div class="descript-1">
                                <div class="academic-info-mobile-div">
                                    <br>
                                    <div class="academic-img-web-div">
                                        <div class="academic-img-web"></div>
                                    </div>
                                    <p style="font-weight: bold;">Universidad</p>
                                    <p class="id-data">Ing. en Sistemas Computacionales</p>
                                    <p class="id-data">UMOV (Universidad en movimiento)</p>
                                    <p class="id-data">Cursando 7mo cuatrimestre</p>
                                    <p class="id-data">Online</p>
                                    <br>
                                </div>
                                <div class="courses-info">
                                    <div class="academic-img-web-div">
                                        <div class="academic-img-web-udmy"></div>
                                    </div>
                                    <p style="font-weight: bold;">Capacitacion online</p>
                                    <p class="id-data">Programación Python</p>
                                    <p class="id-data">Desarrollo Web</p>
                                    <p class="id-data">Data Analyst (Cursando)</p>
                                    <p class="id-data">Software Testing (Por iniciar)</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <br>

                    <div class="skills-card">
                        <div class="skills-div">
                            <p>Habilidades</p>
                        </div>
                        <div class="lang-div">
                            <div class="lang-menu">
                                <div class="lang-1">
                                    <div class="cards card-python">
                                        <div class="lang-img">
                                            <img src="/static/css/docs/piton.png" class="card-img" alt="">
                                        </div>
                                        <div class="card-descript">
                                            <p style="margin: 5px; font-weight: bold;">Python</p>
                                            <div class="experience-div">
                                                <div class="calendar-img-div">
                                                    <img src="/static/css/docs/negocio (1).png" alt="">
                                                </div>
                                                <p style="margin: 5px;">Experiencia: 2 años</p>
                                            </div>
                                            <div>
                                            <div class="aprovement-div">
                                                <div class="checkmark-img-div">
                                                    <img src="/static/css/docs/aprobado.png" alt="">
                                                </div>
                                                <p style="margin: 5px;">Curso acreditado</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="lang-2">
                                    <div class="cards card-javascript">
                                        <div class="lang-img">
                                            <img src="/static/css/docs/javascript.png" class="card-img" alt="">
                                        </div>
                                        <div class="card-descript">
                                            <p style="margin: 5px; font-weight: bold;">Javascript</p>
                                            <div class="experience-div">
                                                <div class="calendar-img-div">
                                                    <img src="/static/css/docs/negocio (1).png" alt="">
                                                </div>
                                                <p style="margin: 5px;">Experiencia: 6 meses</p>
                                            </div>
                                            <div>
                                            <div class="aprovement-div">
                                                <div class="checkmark-img-div">
                                                    <img src="/static/css/docs/aprobado.png" alt="">
                                                </div>
                                                <p style="margin: 5px;">Curso acreditado</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="lang-3">
                                    <div class="cards card-mysql">
                                        <div class="lang-img">
                                            <img src="/static/css/docs/mysql.png" class="card-img" alt="">
                                        </div>
                                        <div class="card-descript">
                                            <p style="margin: 5px; font-weight: bold;">MySQL</p>
                                            <div class="experience-div">
                                                <div class="calendar-img-div">
                                                    <img src="/static/css/docs/negocio (1).png" alt="">
                                                </div>
                                                <p style="margin: 5px;">Experiencia: 6 meses</p>
                                            </div>
                                            <div>
                                            <div class="aprovement-div">
                                                <div class="checkmark-img-div">
                                                    <img src="/static/css/docs/aprobado.png" alt="">
                                                </div>
                                                <p style="margin: 5px;">Curso acreditado</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="lang-menu">
                                <div class="lang-4">
                                    <div class="cards card-html">
                                        <div class="lang-img">
                                            <img src="/static/css/docs/html.png" class="card-img" alt="">
                                        </div>
                                        <div class="card-descript">
                                            <p style="margin: 5px; font-weight: bold;">HTML</p>
                                            <div class="experience-div">
                                                <div class="calendar-img-div">
                                                    <img src="/static/css/docs/negocio (1).png" alt="">
                                                </div>
                                                <p style="margin: 5px;">Experiencia: 1 año</p>
                                            </div>
                                            <div>
                                            <div class="aprovement-div">
                                                <div class="checkmark-img-div">
                                                    <img src="/static/css/docs/aprobado.png" alt="">
                                                </div>
                                                <p style="margin: 5px;">Curso acreditado</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lang-5">
                                    <div class="cards card-css">
                                        <div class="lang-img">
                                            <img src="/static/css/docs/css.png" class="card-img" alt="">
                                        </div>
                                        <div class="card-descript">
                                            <p style="margin: 5px; font-weight: bold;">CSS</p>
                                            <div class="experience-div">
                                                <div class="calendar-img-div">
                                                    <img src="/static/css/docs/negocio (1).png" alt="">
                                                </div>
                                                <p style="margin: 5px;">Experiencia: 1 año</p>
                                            </div>
                                            <div>
                                            <div class="aprovement-div">
                                                <div class="checkmark-img-div">
                                                    <img src="/static/css/docs/aprobado.png" alt="">
                                                </div>
                                                <p style="margin: 5px;">Curso acreditado</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lang-6">
                                    <div class="cards card-ux">
                                        <div class="lang-img">
                                            <img src="/static/css/docs/ux.png" class="card-img" alt="">
                                        </div>
                                        <div class="card-descript">
                                            <p style="margin: 5px; font-weight: bold;">UX</p>
                                            <div class="experience-div">
                                                <div class="calendar-img-div">
                                                    <img src="/static/css/docs/negocio (1).png" alt="">
                                                </div>
                                                <p style="margin: 5px;">Experiencia: 3 meses</p>
                                            </div>
                                            <div>
                                            <div class="aprovement-div">
                                                <div class="checkmark-img-div">
                                                    <img src="/static/css/docs/aprobado.png" alt="">
                                                </div>
                                                <p style="margin: 5px;">Curso acreditado</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="projects-div">
                        <div class="project-title">
                            <p>Mis proyectos personales</p>
                        </div>
                        <div class="project-names">
                            <div class="project-1">
                                <div class="project-1-div">
                                    <div>
                                        <p style="font-weight: bold; color: rgb(61, 61, 251); width: 100%;">Torah</p>
                                        <p class="status-1">Actualizando</p>
                                    </div>
                                    <a href="https://github.com/fran815/tanaj.git" target="_blank" style="text-decoration: none; color: black;">Proyecto - Biblia hebrea </a>
                                </div>
                                
                            </div>
                            <div class="project-2">
                                <div class="project-2-div">
                                    <div>
                                        <p style="font-weight: bold; color: rgb(61, 61, 251); width: 100%;">Chord editor</p>
                                        <p class="status-2"> En desarrollo </p>
                                    </div>
                                    <a href="https://github.com/fran815/prochord.git" target="_blank" style="text-decoration: none; color: black;">Proyecto - Editor de acordes</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="section-3">
                        <div class="languages-div">
                            <p>Mis idiomas</p>
                        </div>
                        <div class="language-descript">
                            <div class="spanish">
                                <div class="card-language">
                                    <div class="card-lang-img-div card-div-mx">
                                        <!-- <img src="/static/css/docs/lang1.png" alt="" id="card-lang-img"> -->
                                        <div class="card-lang-img">
                                            <img src="/static/css/docs/bandera_mx.png" alt="" id="flag-img">
                                        </div>
                                    </div>
                                    <div class="language-info">
                                        <p style="font-weight: bold; color: black;">Español </p>
                                        <p style="color: gray;">Nativo </p>
                                        <div class="bar-div">
                                            <div class="change-bar">
                                                <style>
                                                    #percent-bar1 {
                                                        display: flex;
                                                        justify-content: center;
                                                        text-align: center;
                                                        width: 100%;
                                                        height: 12px;
                                                        font-size: 12px;
                                                        color: white;
                                                        border-radius: 10px;
                                                        background-color: rgba(0, 158, 13, 1);
                                                    }
                                                </style>
                                                <div id="percent-bar1">100%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="english">
                                <div class="card-language">
                                    <div class="card-lang-img-div card-div-us">                                        
                                         <div class="card-lang-img">
                                            <img src="/static/css/docs/estados-unidos-de-america.png" alt="" id="flag-img">
                                        </div>
                                    </div>
                                    <div class="language-info">
                                        <p style="font-weight: bold; color: black;">Inglés</p>
                                        <p style="color: gray;">Básico (B1)</p>
                                        <div class="bar-div">
                                            <div class="change-bar">
                                                <style>
                                                    #percent-bar2 {
                                                        display: flex;
                                                        justify-content: center;
                                                        text-align: center;
                                                        width: 60%;
                                                        height: 12px;
                                                        font-size: 12px;
                                                        color: white;
                                                        border-radius: 10px;
                                                        background-color: rgba(0, 47, 158, 1);
                                                    }
                                                </style>
                                                <div id="percent-bar2">60%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            
                        </div>
                    </div>
                    <div class="section-4">
                        <div class="job-title">
                            <p style="margin-left: 5px; font-weight: bold;">Situación Laboral</p>
                        </div>
                        <div class="job-div">
                            <div class="job-info-div">
                                <div class="job-img-div">
                                    <img src="/static/css/docs/flaming.png" alt="" id="job-img">
                                </div>
                                <div class="job-info">
                                    <span style="color: rgb(61, 61, 251);">Trabajo actual</span>
                                    <span style="color: rgb(61, 61, 251);">Desde: <p>20 de noviembre del 2020</p></span>
                                    <span style="color: rgb(61, 61, 251);">Puesto: <p>Data entry</p></span>
                                    <span>Sonora Soft. Urbi villa</span>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>