<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Curriculum Vitae</title>
</head>
<body>
    
    <div class="body-div">
        <div class="elements">
            <div class="section-1">
                <!-- IMAGE CARD -->
                <div class="img-card">
                    <div class="img-div">
                        <div class="img-wallpaper"></div>
                    </div>
                    <div class="img-data">
                        <div class="personal-div">
                            <p id="id-name">Iván Victoria</p>
                            <p id="my_description">
                                "Motivado por la tecnología y el desarrollo de sistemas,
                                inicie con el fin de cumplir algunos desafíos
                                personales como autodidacta. Pero al poco tiempo
                                descubrí una pasión por el conocimiento de la
                                programación.
                                Ahora como programador independiente intento
                                desarrollarme personal y profesionalmente,
                                buscando oportunidades para crecer y sobre todo
                                adquirir mayores conocimientos."
                            </p>
                            <div class="descript-data">
                                <div class="age">
                                    <p>Edad: </p>
                                    <span>33 años</span>
                                </div>
                                <div class="residence">
                                    <p>Teléfono: </p>
                                    <span>+52 6442137369</span>
                                </div>
                                <div class="martial">
                                    <p>Email:</p>
                                    <span>ivanvicttoria_8@hotmail.com</span>
                                </div>
                                <div class="city">
                                    <p>Ciudad: </p>
                                    <span>Cd. Obregón, Son</span>
                                </div>
                                <div class="marital-status">
                                    <p>Edo. Civil: </p>
                                    <span>Casado</span>
                                </div>
                            </div>
                            <!-- <div class="github-div">
                                <a href="">
                                    <div class="github-img"></div>
                                </a>
                            </div> -->
                        </div>
                    </div>
                    <div class="img-buttons">
                        <div class="option-button-1">
                            <a href="/static/css/docs/resume.pdf" download="resume.pdf" class="pdf-tag">
                                <p>Descargar CV</p>
                            </a>
                        </div>
                        <div class="option-button-2">
                            <a href="https://wa.me/526442137369?text=Hola,%20vi%20tu%20página%20web" target="_blank" class="whatsapp-tag">
                                <p>Contacto</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="section-2">
                <!-- DATA CARD -->
                <div class="data-card">
                    <div class="presentation-card">
                        <div class="title-web">
                            <p style="margin-block: 15px;">Programador Python Jr.</p>
                        </div>
                        <div class="acerca-div-web">
                            <p>Formación</p>
                        </div>
                        <br>
                        <div class="main-description-div">
                            <div class="descript-2">
                                <div class="descript-data-mobile"> 
                                    <div class="age">
                                        <p>Edad: </p>
                                        <span>33 años</span>
                                    </div>
                                    <div class="residence">
                                        <p>Teléfono: </p>
                                        <span>+52 6442137369</span>
                                    </div>
                                    <div class="martial">
                                        <p>Email:</p>
                                        <span>ivanvicttoria_8@hotmail.com</span>
                                    </div>
                                    <div class="city">
                                        <p>Ciudad: </p>
                                        <span>Cd. Obregón, Son</span>
                                    </div>
                                    <div class="marital-status">
                                        <p>Edo. Civil: </p>
                                        <span>Casado</span>
                                    </div>
                                </div>
                                <div class="acerca-div-mobile">
                                    <p>Formación</p>
                                </div>
                                <div class="academic-info-web-div">
                                    <div class="academic-img-web-div">
                                        <div class="academic-img-web"></div>
                                    </div>
                                    <p style="font-weight: bold;">Universidad</p>
                                    <p class="id-data">Ing. en Sistemas Computacionales</p>
                                    <p class="id-data">UMOV (Universidad en movimiento)</p>
                                    <p class="id-data">Cursando 7mo cuatrimestre</p>
                                    <p class="id-data">Online</p>
                                </div>
                            </div>
                            <div class="descript-1">
                                <div class="academic-info-mobile-div">
                                    <br>
                                    <div class="academic-img-web-div">
                                        <div class="academic-img-web"></div>
                                    </div>
                                    <p style="font-weight: bold;">Universidad</p>
                                    <p class="id-data">Ing. en Sistemas Computacionales</p>
                                    <p class="id-data">UMOV (Universidad en movimiento)</p>
                                    <p class="id-data">Cursando 7mo cuatrimestre</p>
                                    <p class="id-data">Online</p>
                                    <br>
                                </div>
                                <div class="courses-info">
                                    <div class="academic-img-web-div">
                                        <div class="academic-img-web-udmy"></div>
                                    </div>
                                    <p style="font-weight: bold;">Capacitacion online</p>
                                    <p class="id-data">Programador Python Jr</p>
                                    <p class="id-data">Desarrollador Web</p>
                                    <p class="id-data">Desarrollador UX</p>
                                    <p class="id-data">Data Science (Cursando)</p>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>

                    <br>

                    <div class="skills-card">
                        <div class="skills-div">
                            <p>Mis cursos</p>
                        </div>
                        <div class="lang-div">
                            <div class="lang-menu">
                                <div class="lang-1">
                                    <div class="cards">
                                        <div class="lang-img">
                                            <img src="/static/css/docs/piton.png" class="card-img" alt="">
                                        </div>
                                        <div class="card-descript">
                                            <p style="margin: 5px; font-weight: bold;">Python</p>
                                            <p style="margin: 5px;">Experiencia: 2 años</p>
                                            <p style="margin: 5px;">Curso acreditado</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="lang-2">
                                    <div class="cards">
                                        <div class="lang-img">
                                            <img src="/static/css/docs/javascript.png" class="card-img" alt="">
                                        </div>
                                        <div class="card-descript">
                                            <p style="margin: 5px; font-weight: bold;">Javascript</p>
                                            <p style="margin: 5px;">Experiencia: 6 meses</p>
                                            <p style="margin: 5px;">Curso acreditado</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="lang-3">
                                    <div class="cards">
                                        <div class="lang-img">
                                            <img src="/static/css/docs/mysql.png" class="card-img" alt="">
                                        </div>
                                        <div class="card-descript">
                                            <p style="margin: 5px; font-weight: bold;">MySQL</p>
                                            <p style="margin: 5px;">Experiencia: 6 meses</p>
                                            <p style="margin: 5px;">Curso acreditado</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="lang-menu">
                                <div class="lang-4">
                                    <div class="cards">
                                        <div class="lang-img">
                                            <img src="/static/css/docs/html.png" class="card-img" alt="">
                                        </div>
                                        <div class="card-descript">
                                            <p style="margin: 5px; font-weight: bold;">HTML</p>
                                            <p style="margin: 5px;">Experiencia: 1 año</p>
                                            <p style="margin: 5px;">Curso acreditado</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="lang-5">
                                    <div class="cards">
                                        <div class="lang-img">
                                            <img src="/static/css/docs/css.png" class="card-img" alt="">
                                        </div>
                                        <div class="card-descript">
                                            <p style="margin: 5px; font-weight: bold;">CSS</p>
                                            <p style="margin: 5px;">Experiencia: 1 año</p>
                                            <p style="margin: 5px;">Curso acreditado</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="lang-6">
                                    <div class="cards">
                                        <div class="lang-img">
                                            <img src="/static/css/docs/ux.png" class="card-img" alt="">
                                        </div>
                                        <div class="card-descript">
                                            <p style="margin: 5px; font-weight: bold;">UX</p>
                                            <p style="margin: 5px;">Experiencia: 6 meses</p>
                                            <p style="margin: 5px;">Curso acreditado</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="projects-div">
                        <div class="project-title">
                            <p>Mis proyectos personales</p>
                        </div>
                        <div class="project-names">
                            <div>
                                <p style="font-weight: bold; color: rgb(61, 61, 251);">Torah</p>
                                <a href="https://github.com/fran815/tanaj.git" target="_blank" style="text-decoration: none; color: black;">Proyecto - Biblia hebrea (Actualizando)</a>
                            </div>
                            <div>
                                <p style="font-weight: bold; color: rgb(61, 61, 251);">Chord editor</p>
                                <a href="https://github.com/fran815/prochord.git" target="_blank" style="text-decoration: none; color: black;">Proyecto - Editor de acordes (Actualizando)</a>
                            </div>
                        </div>
                    </div>

                    <div class="section-3">
                        <div class="languages-div">
                            <p>Mis idiomas</p>
                        </div>
                        <div class="language-descript">
                            <div class="spanish">
                                <div class="card-language">
                                    <div class="card-lang-img-div">
                                        <img src="/static/css/docs/lang1.png" alt="" id="card-lang-img">
                                    </div>
                                    <div>
                                        <p style="font-weight: bold; color: gray;">Español </p>
                                        <div class="bar-div">
                                            <div class="change-bar">
                                                <style>
                                                    #percent-bar1 {
                                                        display: flex;
                                                        justify-content: center;
                                                        text-align: center;
                                                        width: 100%;
                                                        height: 12px;
                                                        font-size: 12px;
                                                        color: white;
                                                        border-radius: 10px;
                                                        background-color: rgb(0, 136, 255);
                                                    }
                                                </style>
                                                <div id="percent-bar1">100%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="english">
                                <div class="card-language">
                                    <div class="card-lang-img-div">
                                        <img src="/static/css/docs/lang2.png" alt="" id="card-lang-img">
                                    </div>
                                    <div>
                                        <p style="font-weight: bold; color: gray;">Inglés</p>
                                        <div class="bar-div">
                                            <div class="change-bar">
                                                <style>
                                                    #percent-bar2 {
                                                        display: flex;
                                                        justify-content: center;
                                                        text-align: center;
                                                        width: 70%;
                                                        height: 12px;
                                                        font-size: 12px;
                                                        color: white;
                                                        border-radius: 10px;
                                                        background-color: rgb(0, 136, 255);
                                                    }
                                                </style>
                                                <div id="percent-bar2">70%</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>
</html>